/*

## Responsive Menu Icon
--------------------------------------------------------------- */

.responsive-menu-icon {
	background: none;
	cursor: pointer;
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	overflow: visible;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	z-index: 999;

	&:hover,
	&:focus,
	&:active {
		background: transparent;
	}
	@include breakpoint(tablet-v) {
		display: block;
	}
}

.menu-icon-wrap {
	width: 30px;
	height: 24px;
	display: inline-block;

	@include breakpoint(phone-h) {
		width: 20px;
		height: 16px;
	}
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
	width: 30px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;

	@include breakpoint(phone-h) {
		width: 20px;
		height: 2px;
	}

}

.menu-icon::before,
.menu-icon::after {
	content: "";
	display: block;
}

.menu-icon::before {
	top: -8px;
	@include breakpoint(phone-h) {
		top: -6px;
	}
}

.menu-icon::after {
	bottom: -8px;
	@include breakpoint(phone-h) {
		bottom: -6px;
	}
}


/* The Spin
---------------------------*/
.menu-icon {
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-icon::before {
	transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
.menu-icon::after {
	transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.toggled .menu-icon {
	transform: rotate(225deg);
	transition-delay: 0.14s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.toggled .menu-icon::before {
	top: 0;
	opacity: 0;
	transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
.toggled .menu-icon::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
