/*

## Plugins
--------------------------------------------------------------- */

/* Jetpack
--------------- */
img#wpstats {display:none;}

// Remove text site-title when Jetpack site-logo is used.
body.has-site-logo .site-title,
body.has-site-logo .site-description {display:none !important;}

@include breakpoint(phone-h) {
	body.has-site-logo .site-logo {width:75%;}
}


/* Contact Form 7
----------------------- */
.wpcf7-form .required {font-size:24px; color: #c00;}
.wpcf7-form .cap-letters {float: left; margin-right: 1.25em; padding-top: .813em;}
.wpcf7-form .cap-input {width:180px; color: black; font-weight: 600;}
.wpcf7-form .cform-submit {float: right; text-align: right; margin-right: -0.938em;}
.wpcf7-form .cform-captcha {float:left; margin-bottom: 0.938em;}
